services:
  db:
    image: mysql:8.0
    command: ["--default-authentication-plugin=mysql_native_password"]
    environment:
      # On laisse DB_NAME/USER/PASSWORD dans le backend/.env,
      # mais MySQL a besoin de ses variables à lui pour initialiser la DB.
      # Mets ici EXACTEMENT le même user/pass/db que dans backend/.env
      MYSQL_DATABASE: user_data_db
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - mysql_data:/var/lib/mysql
    restart: unless-stopped

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - ./backend/.env
    depends_on:
      - db
    volumes:
      - static_vol:/vol/static
      - media_vol:/vol/media
    expose:
      - "8000"
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    expose:
      - "80"
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - static_vol:/vol/static:ro
      - media_vol:/vol/media:ro
      - certbot_www:/var/www/certbot:ro
      - letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - backend
      - frontend
    restart: unless-stopped

  certbot:
    image: certbot/certbot:latest
    volumes:
      - certbot_www:/var/www/certbot
      - letsencrypt:/etc/letsencrypt
    restart: "no"

volumes:
  mysql_data:
  static_vol:
  media_vol:
  certbot_www:
  letsencrypt:
