.account-management-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 30px;
  background-color: #1c1c1c;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.account-management-container h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 28px;
  font-weight: 600;
}

.account-section {
  margin-bottom: 40px;
  padding: 20px;
  background-color: #292929;
  border-radius: 8px;
}

.account-section h3 {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 500;
  color: #e50914;
  border-bottom: 2px solid #444;
  padding-bottom: 10px;
}

.account-details label {
  display: block;
  margin-bottom: 15px;
  font-size: 16px;
  color: #bbb;
}

.account-details input,
.account-details select {
  width: 100%;
  padding: 10px;
  margin-top: 2vh;
  border: 1px solid #444;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
}

.account-actions {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.save-button,
.edit-button,
.cancel-button,
.update-payment-button,
.add-profile-button,
.remove-profile-button,
.renew-button,
.upgrade-button {
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  background-color: #e50914;
  color: #fff;
  cursor: pointer;
  font-size: 2vh;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  padding: 1vw;

}

.cancel-button:disabled {
  background-color: #333;
  /* Gray out the button */
  cursor: not-allowed;
  /* Change cursor to indicate it's disabled */
}

.save-button:hover,
.edit-button:hover,
.cancel-button:hover,
.update-payment-button:hover,
.add-profile-button:hover,
.remove-profile-button:hover {
  background-color: #b20710;
}

.profiles {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.profile {
  background-color: #333;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(50% - 10px);
  /* Two profiles per row */
}

.profile-edit {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
}

.profile-edit label {
  margin-bottom: 15px;
  width: 100%;
}

.profile-edit label input[type="text"],
.profile-edit label select,
.profile-edit label input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.profile-edit label select {
  appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><path d="M0 0l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px;
}

.profile-edit button {
  padding: 10px 20px;
  margin-right: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  background-color: #e50914;
  color: #fff;
}

.profile-button svg {
  height: 20px;
  width: 20px;
}

.profile-edit button:hover {
  background-color: #b20710;
}

.profile-edit button:last-child {
  background-color: #6c757d;
}

.profile-edit button:last-child:hover {
  background-color: #5a6268;
}


.profile span {
  flex-grow: 1;
  font-size: 16px;
  color: #fff;
}

.profile-view img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.add-profile-button {
  max-width: 100px;
  max-height: 40px;
  padding: 10px;
  position: relative;
  font-size: 1rem;
}

.add-profile-button svg {
  height: 20px;
  width: 20px;
}

.profile-button {
  margin-right: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  background-color: #e50914;
  color: #fff;
  margin-left: 10px;
  padding: 0.5rem;
}

.delete-button:hover {
  background-color: #c82333;
}

.profile-button svg {
  height: 20px;
  width: 20px;
  fill: white;
}


.payment-history {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.payment-history th,
.payment-history td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #444;
}

.payment-history th {
  background-color: #444;
  color: #fff;
  font-weight: 600;
}

.payment-history tbody tr {
  transition: background-color 0.3s ease;
}

.payment-history tbody tr:hover {
  background-color: #333;
}

.avatar-options {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.avatar-option {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 50%;
  transition: border-color 0.3s ease;
}

.avatar-option:hover {
  border-color: #007bff;
}

.avatar-option.selected {
  border-color: #007bff;
}

.change-button {
  background-color: #e50914;
  color: white;
  font-size: 2vh;
  font-weight: bold;
  border: none;
  padding: 1vh;
  margin: 1vh 2vh 2vh 0vh;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.change-button:hover {
  background-color: #b20710;
}

.hidden {
  display: none;
}

.email-input-container {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.cancel-button {
  background-color: #333;
  margin-left: 10px;
}

.cancel-button:hover {
  background-color: #555;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.error-input {
  border: 1px solid red;
}

@media screen and (max-width: 600px) {
  .payment-history {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    /* Prevents content from wrapping */
  }

  .payment-history th,
  .payment-history td {
    padding: 8px;
    font-size: 12px;
  }

  .profile-edit {
    font-size: 9px;
    margin: 1px;

  }

  .profile-edit input,
  .profile-edit select {
    height: 10px;
    width: 30px;
    font-size: 8px;
  }

  .profile-edit button {
    height: auto;
    width: auto;
    font-size: 10px;
  }

  .profile-edit img {
    height: 7vw;
    width: 7vw;
  }

  .avatar-options {
    gap: 0px;
  }
}

@media (min-width:2500px) and (min-height: 1500px) {
  .account-management-container {
    max-width: 50%;
    padding: 3vh;
  }

  .account-section h3 {
    font-size: 3vh;
  }

  .account-section {
    padding: 2vh;
  }

  p {
    font-size: 2vh;
  }

  .account-management-container h2 {
    font-size: 4vh;
  }

  .profile-button svg {
    height: 2vw;
    width: 2vw;
  }

  .payment-history {
    font-size: 2vh;
  }

  .add-profile-button svg {
    height: 2vh;
    width: 2vh;
  }

  .add-profile-button {
    max-width: 2vw;
    max-height: 3vh;
    border-radius: 1vh;
  }
}