.choose-subscription-page {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #141414;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    
}

.subscription-title {
    font-size: 2rem;
    margin-bottom: 30px;
    color: #e50914;
}

.subscription-options {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.subscription-option {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    width: 40%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    position: relative;
    border: 2px solid transparent;
}

.subscription-option:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.subscription-option.selected {
    border-color: #e50914;
    box-shadow: 0 0 15px rgba(229, 9, 20, 0.5);
}

.subscription-option.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.subscription-option h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #e50914;
}

.subscription-option p {
    font-size: 1.1rem;
    margin: 5px 0;
}

.subscription-badge {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #e50914;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
}

.premium {
    background-color: #333;
}

.premium .subscription-badge {
    background-color: gold;
    color: #333;
}


.payment-form-container h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #e50914;
}
@media (min-width:2500px) and (min-height: 1500px){
    .choose-subscription-page {
        max-width: 50vw;
        height: 33vh;
        padding: 4vh;
        margin-top: 20vh;
    }

    .subscription-title {
        font-size: 4vh;
    }

    .subscription-option {
        padding: 4vh;
        border-radius: 2vh;
    }

    .subscription-option h3 {
        font-size: 3vh;
    }

    .subscription-option p {
        font-size: 2vh;
    }

    .subscription-badge {
        top: -15px;
        right: -15px;
        padding: 10px 20px;
        font-size: 2vh;
    }

    .payment-form-container h3 {
        font-size: 4vh;
    }
}

