/* ConfirmationModal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #222;
    padding: 2vh;
    border-radius: 2vh;
    text-align: center;
    color: white;
    width: 30vw;
}
.modal-content h3{
    font-size: 3vh;
}

.modal-actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.modal-button {
    padding: 2vh;
    border: none;
    border-radius: 2vh;
    cursor: pointer;
    font-size: 2vh;
    color: white;
}

.modal-button.confirm {
    background-color: #e50914;
}

.modal-button.cancel {
    background-color: #444;
}

@media screen and (max-width: 768px) {
    .modal-content {
        width: 80vw;
    }
}
